*{
    margin: 0;
    padding: 0;
}
.todo1{
    display: flex;

    position: absolute;
    top: 25vh;
    left: 40vh;

  
    height: 190px;
    width: 340px;
    border: 2px solid rgb(139, 209, 209);
    border-radius: 15px;
    background-color:whitesmoke;

}

#btn{
    
    bottom: 10px;
    right: 20px;
    padding: 10px;
    height: 10px;
    width: 150px;
    
}
#btn1{
    position:absolute;
    background-color: #00A5EC;
    border: 1px solid;
    padding: 10px;
    height: 40px;
    width: 125px;
    border-radius: 4px;
    font-size: 16px;
    color: whitesmoke;
    right:40px;
    top:125px;

}
#input{
    position: relative;
    top: 80px;
    right: 300px;
    width: 200px;

}

#new{
    position: relative;
    top:-10px;
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    padding: 25px;
    color:rgb(97, 92, 92);
}
.container {
    display: flex;
    flex: 1;
  }
  
  #hr {
    position: relative;
    top:50px;
    width: 340px;

    

  }
  .famous{
    
    width: 200px;
  }
  @media screen and (max-width:375px ) 
  {
    .todo1{
        position:realtive;
        left:14%;
        height:220px;
      width:270px;
      background-color: aqua; 
  
  
    
     }
     #hr{
      width:270px;
     }
  
   

      .famous{
        position: absolute;
        left:70px;
        border: 2px solid green;
        width:150px;
        padding:8px;
        text-align: center;
      }
     #btn1{
      position:absolute;
      top:23vh;
      left: 25%;
      font-size:14px;
      height:40px;
      width:120px;
      
  
      }
      #new{
          position: absolute;
          /* left: -20px; */
          padding-bottom: 5px;
          font-size:20px;
      }
       #x{
        position: absolute;
       left: 220px;
       top:24px;
      }
   
  }

  @media screen and  (min-width:376px ) and (max-width:786px)
  {


    .todo1{
        position:realtive;
        left:14%;
        height:300px;
      width:350px;
      background-color: palegreen; 
  
  
    
     }
     #hr{
      width:350px;
     }
  
   

      .famous{
        position: absolute;
        left:5px;
        border: 2px solid green;
        width:220px;
        padding:9px;
        text-align: center;
      }
     #btn1{
      position:absolute;
      top:23vh;
      left:30%;
      font-size:16px;
      height:40px;
      width:150px;
      
  
      }
      #new{
        
          padding-bottom: 5px;
          font-size:20px;
      }



  }

